{% extends 'webapp/base.html' %} {% load crispy_forms_tags %} {% block content %}

<body>
  <div class="container bg-light shadow-md p-5 form-layout">
    <h3>Perbarui Data</h3>

    <h6>Perbarui data anda dibawah ini</h6>

    <hr />
    <br />

    <form method="POST" autocomplete="off">
      {% csrf_token %} {{ form.nama_awal|as_crispy_field }}

      <br />

      {{ form.nama_akhir|as_crispy_field }}

      <br />

      {{ form.nim|as_crispy_field }}

      <br />

      {{ form.semester|as_crispy_field }}

      <br />

      {{ form.kelas|as_crispy_field }}

      <br />

      {{ form.email|as_crispy_field }}

      <br />

      {{ form.nomor_hp|as_crispy_field }}

      <br />

      {{ form.alamat|as_crispy_field }}

      <br />

      {{ form.kota|as_crispy_field }}

      <br />

      {{ form.provinsi|as_crispy_field }}

      <br />

      <button type="submit" class="btn btn-info">Perbarui Data &nbsp; <i class="fa fa-plus" aria-hidden="true"></i></button>

      &nbsp;

      <a href="{% url 'dashboard' %}" class="btn btn-secondary"> Kembali &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i> </a>
    </form>
  </div>
  <br />
</body>

{% endblock %}
